<?xml version="1.0"?>
<ruleset
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
  name="Exercism PHP Coding Standard"
>
    <description>Coding standard for Exercism PHP exercises</description>

    <!-- Expect all files are UTF-8 -->
    <arg name="encoding" value="utf-8" />

    <!-- No warnings (ignore them) -->
    <arg value="n" />

    <!-- Show sniffs (it's easy to find solutions knowing the code) -->
    <arg value="s" />

    <!-- A TAB is 4 chars wide (does not replace them, for calculation only!) -->
    <arg name="tab-width" value="4" />

    <!-- Run on 60 files in parallel -->
    <arg name="parallel" value="60" />

    <file>bin/</file>
    <file>src</file>
    <file>tests</file>

    <!-- Include all sniffs in the PSR12 standard -->
    <rule ref="PSR12" />
</ruleset>
